<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Xanity</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom fonts for this template -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,700,900" rel="stylesheet">
    <!-- Plugin CSS -->
    <link href="vendor/magnific-popup/magnific-popup.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/xanity.css" rel="stylesheet">
    <link href="css/queries.css" rel="stylesheet">
    <link href="css/login-popup.css" rel="stylesheet">

    <!-- Temporary navbar container fix -->
    <style>
        .navbar-toggler {
            z-index: 1;
        }

        @media (max-width: 576px) {
            nav>.container {
                width: 100%;
            }
        }
    </style>
</head>

<body id="page-top">
    {{{ body }}}
</body>

<script link="vendor/jquery/jquery.js"></script>
<script link="vendor/tether/tether.min.js"></script>
<script link="vendor/bootstrap/js/bootstrap.min.js"></script>

<!-- Plugin JavaScript -->
<script link="vendor/jquery-easing/jquery.easing.min.js"></script>
<script link="vendor/scrollreveal/scrollreveal.min.js"></script>
<script link="vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

<!--Custom scripts for this template-->
<script link="js/creative.min.js"></script>

</html>
