<section class="delete">
    <h3>Delete Data</h3>
    <form action="/delete" method="post">
        <div class="input">
            <label for="username">username</label>
            <input type="text" id="username" name="username">
        </div>
        <button type="submit">DELETE</button>
    </form>
</section>
