<header class="masthead marginm">
    <div class="modal-dialog">
          <div class="loginmodal-container">
              <h1 class="black">Delete User</h1>
              <form action="/delete" method="post">
                  <div class="input">
                      <input type="text" id="username" name="username" placeholder="Username">
                  </div>
                  <button type="submit" name="login" class="login loginmodal-submit" value="Login">DELETE</button>
                  <p></p>
              </form>
          </div>
    </div>

      <div class="modal-dialog">
            <div class="loginmodal-container">
              <h3 class="black">Userlist</h3>
              <a style="color: #ffffff; background-color: #BF3734;" class="login loginmodal-submit" href="/get-data">LOAD DATA</a>
              <div class="black scroll">
                <p></p>
                  {{# each items }}
                      <article class="item">
                          <div>Name: {{ this.name }}</div>
                          <div>Email: {{ this.email }}</div>
                          <div>Username: {{ this.username }}</div>
                          <div>ID: {{ this._id }}</div>
                          <p>--------------</p>
                      </article>
                  {{/each}}

              </div>
              <p></p>
              <a type="submit" href= "/" id="register-btn" value="Login">CANCEL</a>
            </div>
      </div>
    </header>
