<nav class="navbar fixed-top navbar-toggleable-md navbar-light" id="mainNav">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarExample" aria-controls="navbarExample" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="/">Xanity</a>
    {{#ifCond items.estado '==' 1}}
      <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="/admin">Admin</a>
      </li>
    </ul>
    {{/ifCond}}
    <div class="collapse navbar-collapse" id="navbarExample">
      {{#if items}}
      <ul class="navbar-nav ml-auto">
          <li class="nav-item">
              <a class="nav-link" href="#about">Exercises</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="#services">Routines</a>
          </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a class="nav-link" href="/profile">Profile</a>
          </li>
      <li class="nav-item">
          <a class="nav-link attention" href="/" data-toggle="modal" data-target="#login-modal">Sign Out</a>
        </li>
      </ul>
      {{else}}
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="#about">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#services">Services</a>
            </li>
            <li class="nav-item">
                <a class="nav-link attention" href="/log" data-toggle="modal" data-target="#login-modal">Sign In</a>
            </li>
        </ul>
        {{/if}}
    </div>
</nav>



<header class="masthead">
    <div class="header-content">
        <div class="header-content-inner">
            <h1 id="homeHeading">XANITY</h1>
            <hr>
            {{#if items}}
              <p id="moto">Welcome {{items.name}}</p>
              {{else}}
              <p id="moto">Most personalized fitness app you can find</p>
              <a class="btn btn-primary btn-xl" href="#about">Find Out More</a>


        </div>
    </div>
</header>

<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
                <h2 class="section-heading text-white">We've got what you need!</h2>
                <hr class="light">
                <p class="text-faded">With this app you can find the best tailor made exercise routine that suits your body type, experience and fitness goals.</p>
                <a class="btn btn-default btn-xl sr-button" href="#services">Get Started!</a>
            </div>
        </div>
    </div>
</section>

<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">At Your Service</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-hourglass-end text-primary sr-icons"></i>
                    <h3>24 Service</h3>
                    <p class="text-muted">Work out whenever you want, at anytime you want with our app.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-bolt text-primary sr-icons" aria-hidden="true"></i>
                    <h3>Fast Results</h3>
                    <p class="text-muted">With a personalized routine accommodated to your body, We will garantee the fatest results. </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-chain-broken text-primary sr-icons"></i>
                    <h3>Break Limits</h3>
                    <p class="text-muted">Using our handmade routines for you, you will be able to move forward and break the limits you want to reach your goal.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart text-primary sr-icons"></i>
                    <h3>Stay Healthy</h3>
                    <p class="text-muted">With our help you will be able to maintain a healthy lifestyle that will provide you with a energy to go about your day to day life.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="call-to-action bg-dark">
    <div class="container text-center">
        <h2>Join Now!</h2>
        <a class="btn btn-default btn-xl sr-button" href="/registro"><i class="fa fa-users" aria-hidden="true"></i>
sign up</a>
    </div>
</div>
{{/if}}
