<header class="masthead marginm">
    <div class="modal-dialog">
          <div class="loginmodal-container">
              <h1 class="black">Login</h1>
              <form action="/" method="post">
                  <div class="input">
                      <input type="text" id="username" name="username" placeholder="Username">
                      <input type="password" id="password" name="password" placeholder="Password">
                  </div>
                  <button type="submit" name="login" class="login loginmodal-submit" value="Login">LOGIN</button>
                  <p></p>
              </form>
              <a type="submit" href= "/" id="register-btn" value="Login">CANCEL</a>
          </div>
    </div>
  </header>
