<section class="insert">
    <h3>Login</h3>
    <form action="/insert" method="post">
        <div class="input">
            <label for="Name">Username</label>
            <input type="text" id="username" name="username">
        </div>
        <div class="input">
            <label for="Email">Password</label>
            <input type="email" id="password" name="password">
        </div>
        <button type="submit">LOGIN</button>
    </form>
</section>
