<header class="masthead marginm">
    <div class="modal-dialog">
          <div class="loginmodal-container">
              <h1 class="black">Register</h1>
              <form action="/insert-exercise" method="post">
                  <div class="input">
                      <input type="text" id="parte" name="parte" placeholder="Parte del Cuerpo">
                  </div>
                  <div class="input">
                      <input type="text" id="ejercicio" name="ejercicio" placeholder="Ejercicio">
                  </div>
                  <div class="input">
                      <input type="text" id="series" name="series" placeholder="Series">
                  </div>
                  <div class="input">
                      <input type="text" id="repeticiones" name="repeticiones" placeholder="Repeticiones">
                  </div>
                  <div class="input">
                      <input type="text" id="objetivo" name="objetivo" placeholder="Objetivo">
                  </div>
                  <div class="input">
                      <input type="text" id="link" name="link" placeholder="Link">
                  </div><br>
                <button class="login loginmodal-submit" type="submit">INSERT</button><p></p>
                  <a type="submit" href= "/" id="register-btn" value="Login">CANCEL</a>

              </form>

    </div>
  </header>
