<header class="masthead marginm">
    <div class="modal-dialog">
          <div class="loginmodal-container">
            <h3 class="black">Update Data</h3>
            <form action="/update" method="post">
                <div class="input">
                    <input type="text" id="name" name="name" placeholder="Name">
                </div>
                <div class="input">
                    <input type="text" id="username" name="username" placeholder="Username">
                </div>
                <div class="input">
                    <input type="text" id="email" name="email" placeholder="Email">
                </div>
                <div class="input">
                    <input type="password" id="password" name="password" placeholder="Password">
                </div>
                <div class = "black">
                    <label  for="Injuries">Musculos a fortalecer</label><br>
                    <input  type="checkbox" name="pecho">Pecho<br>
                    <input  type="checkbox" name="espalda">Espalda<br>
                    <input  type="checkbox" name="tricep">Tricep<br>
                    <input  type="checkbox" name="bicep">Bicep<br>
                    <input  type="checkbox" name="hombro">Hombro<br>
                    <input  type="checkbox" name="pierna">Pierna<br>
                    <input  type="checkbox" name="abdomen">Abdomen<br><br>
                </div>
                <button class="login loginmodal-submit" type="submit">UPDATE</button>
            </form>
            <p></p>
              <a type="submit" href= "/" id="register-btn" value="Login">CANCEL</a>
          </div>
    </div>
  </header>
