<header class="masthead marginm">
    <div class="modal-dialog">
          <div class="loginmodal-container">
              <h1 class="black">Register</h1>
              <form action="/insert" method="post">
                  <div class="input">
                      <input type="text" id="Name" name="name" placeholder="Name">
                  </div>
                  <div class="input">
                      <input type="text" id="email" name="email" placeholder="Email">
                  </div>
                  <div class="input">
                      <input type="text" id="username" name="username" placeholder="Username">
                  </div>
                  <div class="input">
                      <input type="password" id="password" name="password" placeholder="Password">
                  </div><br>
                  <div class = "black">
                      <label  for="Injuries">Musculos a fortalecer</label><br>
                      <input  type="checkbox" name="pecho">Pecho<br>
                      <input  type="checkbox" name="espalda">Espalda<br>
                      <input  type="checkbox" name="tricep">Tricep<br>
                      <input  type="checkbox" name="bicep">Bicep<br>
                      <input  type="checkbox" name="hombro">Hombro<br>
                      <input  type="checkbox" name="pierna">Pierna<br>
                      <input  type="checkbox" name="abdomen">Abdomen<br><br>
                  </div>
<<<<<<< HEAD
                  <button class="login loginmodal-submit" type="submit">INSERT</button><p></p>
                  <a type="submit" href= "/" id="register-btn" value="Login">CANCEL</a>
=======
                  <button type="submit">INSERT</button>
>>>>>>> origin/master
              </form>

    </div>
  </header>
