<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Xanity</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">


    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom fonts for this template -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,700,900" rel="stylesheet">
    <!-- Plugin CSS -->
    <link href="vendor/magnific-popup/magnific-popup.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/xanity.css" rel="stylesheet">
    <link href="css/queries.css" rel="stylesheet">
    <link href="css/register.css" rel="stylesheet">
    <link href="css/login-popup.css" rel="stylesheet">


    <!-- Temporary navbar container fix -->
    <style>
        .navbar-toggler {
            z-index: 1;
        }
        
        @media (max-width: 576px) {
            nav>.container {
                width: 100%;
            }
        }
    </style>
</head>
<body>
<!-- Navigation -->
<nav class="navbar fixed-top navbar-toggleable-md navbar-light" id="mainNav">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarExample" aria-controls="navbarExample" aria-expanded="false" aria-label="Toggle navigation">
     <span class="navbar-toggler-icon"></span>
 </button>
    <a class="navbar-brand" href="index.html">Xanity</a>
    <div class="collapse navbar-collapse" id="navbarExample">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="#about">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#services">Services</a>
            </li>
            <li class="nav-item">
                <a class="nav-link attention" href="#" data-toggle="modal" data-target="#login-modal">Sign In</a>
            </li>
        </ul>
    </div>
</nav>
<header class="register-page">
    <div class="header-content login-content">
        <div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
            <div class="modal-dialog">
                <div class="loginmodal-container">
                    <h1>Login to Your Account</h1><br>
                    <form>
                        <input type="text" name="user" placeholder="Email">
                        <input type="password" name="pass" placeholder="Password">
                        <input type="submit" name="login" class="login loginmodal-submit" value="Login">
                        <a href="register.html" id="register-btn">Register</a>
                    </form>
                    <div class="login-help">
                        <a href="#">Forgot Password</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-content-inner">
            <h1 id="register-logo">XANITY</h1>
        </div>
        <div class="container register-form">
            <form action="">
                <div class="container">
                    <label><b>Email</b></label>
                    <input class="register-input" type="text" placeholder="Enter Email" name="email" required>

                    <label><b>Password</b></label>
                    <input class="register-input" type="password" placeholder="Enter Password" name="psw" required>

                    <label><b>Repeat Password</b></label>
                    <input class="register-input" type="password" placeholder="Repeat Password" name="psw-repeat" required>

                    <label><b>Sex</b></label>
                    <br>
                    <label>male </label>
                    <input class="register-radio" type="radio" name="sex" value="Male" required>
                    <label>female </label>
                    <input class="register-radio" type="radio" name="sex" value="Female" required>
                    <br>

                    <div class="left-col">
                        <label><b>Experience </b></label>
                        <select name="experience" id="experience">
                            <option value="Beginner">Beginner</option>
                            <option value="Intermediate">Intermediate</option>
                            <option value="Experienced">Experienced</option>
                        </select>
                    </div>

                   <div class="left-col">
                        <label><b>Goal </b></label>
                        <select name="Goal" id="Goal">
                            <option value="Build Muscle">Build Muscle</option>
                            <option value="Get Lean">Get Lean</option>
                            <option value="Core Strength">Core Strength</option>
                            <option value="Burn Calories">Burn Calories</option>
                        </select>
                    </div>
                    <br>


                    <p>By creating an account you agree to our <a href="#">Terms & Privacy</a>.</p>


                    <div class="clearfix">

                        <button type="submit" class="btn btn-primary btn-xl">Sign Up</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</header>



<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/tether/tether.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.min.js"></script>

<!-- Plugin JavaScript -->
<script src="vendor/jquery-easing/jquery.easing.min.js"></script>
<script src="vendor/scrollreveal/scrollreveal.min.js"></script>
<script src="vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

<!-- Custom scripts for this template -->
<script src="js/creative.min.js"></script>
</body>
</html>
