<header class="masthead marginm">
    <div class="modal-dialog">
          <div class="loginmodal-container">
              <h1 class="black">Routines</h1>
              <a class="btn btn-primary btn-xl largo" href="/fuerza">Fuerza</a><p></p>
              <a class="btn btn-primary btn-xl largo" href="/tonificar">Tonificar</a><p></p>
              <a class="btn btn-primary btn-xl largo" href="/aumento">Aumento</a><p></p>
              <a type="submit" href= "/" id="register-btn" value="Login">CANCEL</a>


    </div>
  </header>
