<header class="masthead marginm">
    <div class="modal-dialog">
          <div class="loginmodal-container">
              <h1 class="black">Video</h1>
              <iframe width="560" height="315" src="{{Link}}"
frameborder="0" allowfullscreen></iframe>

              <a type="submit" href= "/get-exercises" id="register-btn" value="Login">Go back</a>
          </div>
    </div>
  </header>
