html,
body {
    width: 100%;
    height: 100%;
}

body {
    font-family: 'Raleway', sans-serif;
}

hr {
    max-width: 50px;
    border-width: 3px;
    border-color: #BF3734;
}

hr.light {
    border-color: white;
}

a {
    color: #BF3734;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    transition: all .2s;
}

a:hover,
a:focus {
    color: #BF3734;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Raleway', sans-serif;
}

p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
}

.bg-primary {
    background-color: #BF3734 !important;
}

.bg-dark {
    color: white;
    background-color: #222222 !important;
}

.text-faded {
    color: rgba(255, 255, 255, 0.7);
}

section {
    padding: 100px 0;
}

.section-heading {
    margin-top: 0;
}

.no-padding {
    padding: 0;
}

::-moz-selection {
    color: white;
    background: #222222;
    text-shadow: none;
}

::selection {
    color: white;
    background: #222222;
    text-shadow: none;
}

img::selection {
    color: white;
    background: transparent;
}

img::-moz-selection {
    color: white;
    background: transparent;
}

body {
    -webkit-tap-highlight-color: #222222;
}

#mainNav {
    border-color: rgba(34, 34, 34, 0.05);
    background-color: white;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    transition: all .2s;
}

#mainNav .navbar-brand {
    font-weight: 700;
    text-transform: uppercase;
    color: #BF3734;
}

#mainNav .navbar-brand:hover,
#mainNav .navbar-brand:focus {
    color: #BF3734;
}

#mainNav .navbar-toggle {
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    color: #222222;
}

#mainNav .navbar-nav>li.nav-item>a.nav-link,
#mainNav .navbar-nav>li.nav-item>a.nav-link:focus {
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    color: #222222;
}

#mainNav .navbar-nav>li.nav-item>a.nav-link:hover,
#mainNav .navbar-nav>li.nav-item>a.nav-link:focus:hover {
    color: #BF3734;
}

#mainNav .navbar-nav>li.nav-item>a.nav-link.active,
#mainNav .navbar-nav>li.nav-item>a.nav-link:focus.active {
    color: #BF3734 !important;
    background-color: transparent;
}

#mainNav .navbar-nav>li.nav-item>a.nav-link.active:hover,
#mainNav .navbar-nav>li.nav-item>a.nav-link:focus.active:hover {
    background-color: transparent;
}

header.masthead
{
    position: relative;
    width: 100%;
    min-height: auto;
    text-align: center;
    color: white;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/xanity-cover.jpeg");
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

header.masthead .header-content,
.login-page {
    position: relative;
    width: 100%;
    padding: 100px 15px 100px;
    text-align: center;
}

header.masthead .header-content .header-content-inner h1 {
    font-size: 30px;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 0;
    text-transform: uppercase;
}

header.masthead .header-content .header-content-inner hr {
    margin: 30px auto;
}

header.masthead .header-content .header-content-inner p {
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 50px;
    color: rgba(255, 255, 255, 0.7);
}

#homeHeading{
    display: inline-block;
    font-size: 6.0em;
    border-top: 10px solid #FFFFFF;
    border-bottom: 10px solid #FFFFFF;
}

#moto{
   font-size: 2.0em; 
}

.service-box {
    max-width: 400px;
    margin: 50px auto 0;
}

.service-box p {
    margin-bottom: 0;
}



.call-to-action {
    padding: 50px 0;
}

.call-to-action h2 {
    margin: 0 auto 20px;
}

.text-primary {
    color: #BF3734 !important;
}

.no-gutter>[class*='col-'] {
    padding-right: 0;
    padding-left: 0;
}

.btn-default {
    color: #222222;
    border-color: white;
    background-color: white;
}

.btn-default:focus,
.btn-default.focus {
    color: #222222;
    border-color: #bfbfbf;
    background-color: #e6e6e6;
}

.btn-default:hover {
    color: #222222;
    border-color: #e0e0e0;
    background-color: #e6e6e6;
}

.btn-default:active,
.btn-default.active,
.open>.btn-default.dropdown-toggle {
    color: #222222;
    border-color: #e0e0e0;
    background-color: #e6e6e6;
}

.btn-default:active:hover,
.btn-default:active:focus,
.btn-default:active.focus,
.btn-default.active:hover,
.btn-default.active:focus,
.btn-default.active.focus,
.open>.btn-default.dropdown-toggle:hover,
.open>.btn-default.dropdown-toggle:focus,
.open>.btn-default.dropdown-toggle.focus {
    color: #222222;
    border-color: #bfbfbf;
    background-color: #d4d4d4;
}

.btn-default:active,
.btn-default.active,
.open>.btn-default.dropdown-toggle {
    background-image: none;
}

.btn-default.disabled:hover,
.btn-default.disabled:focus,
.btn-default.disabled.focus,
.btn-default[disabled]:hover,
.btn-default[disabled]:focus,
.btn-default[disabled].focus,
fieldset[disabled] .btn-default:hover,
fieldset[disabled] .btn-default:focus,
fieldset[disabled] .btn-default.focus {
    border-color: white;
    background-color: white;
}

.btn-default .badge {
    color: white;
    background-color: #222222;
}

.btn-primary {
    color: white;
    border-color: #BF3734;
    background-color: #BF3734;
}

.btn-primary:focus,
.btn-primary.focus {
    color: white;
    border-color: #7F2523;
    background-color: #7F2523;
}

.btn-primary:hover {
    color: white;
    border-color: #e13612;
    background-color: #7F2523;
}

.btn-primary:active,
.btn-primary.active,
.open>.btn-primary.dropdown-toggle {
    color: white;
    border-color: #e13612;
    background-color: #7F2523;
}

.btn-primary:active:hover,
.btn-primary:active:focus,
.btn-primary:active.focus,
.btn-primary.active:hover,
.btn-primary.active:focus,
.btn-primary.active.focus,
.open>.btn-primary.dropdown-toggle:hover,
.open>.btn-primary.dropdown-toggle:focus,
.open>.btn-primary.dropdown-toggle.focus {
    color: white;
    border-color: #7F2523;
    background-color: #c93110;
}

.btn-primary:active,
.btn-primary.active,
.open>.btn-primary.dropdown-toggle {
    background-image: none;
}

.btn-primary.disabled:hover,
.btn-primary.disabled:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled]:hover,
.btn-primary[disabled]:focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary:hover,
fieldset[disabled] .btn-primary:focus,
fieldset[disabled] .btn-primary.focus {
    border-color: #BF3734;
    background-color: #BF3734;
}

.btn-primary .badge {
    color: #BF3734;
    background-color: white;
}

.btn {
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    border-radius: 300px;
}

.btn-xl {
    padding: 15px 30px;
}

.attention{
    display: inline-block;
    border: 3px solid #BF3734;
}

